[Unit]
Description=robot service

[Service]
User=pointlander
WorkingDirectory=/home/pointlander/snow/
ExecStart=/home/pointlander/snow/snow -robot
Restart=always

[Install]
WantedBy=multi-user.target
