[Unit]
Description=robot service

[Service]
User=andrew
WorkingDirectory=/home/pointlander/snow/
ExecStart=/home/pointlander/snow/snow
Restart=always

[Install]
WantedBy=multi-user.target
